.nav-item {
    color: white;
}
.nav-item {
    padding-right: 10px;
}
#NavBar {
    padding-bottom: 12.5px;
}
#home {
    background-image: url('https://c1.staticflickr.com/9/8616/15973075977_722d16c6c8_b.jpg');
    width: 100%;
    height: 70%;
}
#aboutus {
    text-align:center;
    padding-top:10px;
    background-color:#6d757c;
    width: 100%;
    height: 25%;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
p {
    margin-bottom: 0rem !important;
}
#services {
    text-align:center;
    padding-top:10px;
    background-color:#6d757c;
    width: 100%;
    height: 30%;
    color:white;
    font-style: italic;
}
#contactus {
    text-align: center;
    padding-top:10px;
    background-color:#6d757c;
    width: 100%;
    height: 30%;
    color:white;
    font-style: italic;
}
img {
    width: 50px;
    height: 50px;
    border-radius: 200px;
    margin-bottom: 30px;
}
#ourstaff {
    text-align: center;
    padding-top:10px;
    background-color:#6d757c;
    width: 100%;
    height: 80%;
    color:white;
    font-style: italic;
}
#staff {
    padding-bottom: 10px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
}
#headerourstaff {
    padding-bottom: 20px;
}
#gallery {
    text-align: center;
    padding-top:10px;
    background-color:#6d757c;
    width: 100%;
    height: 100%;
    color:white;
    font-style: italic;
}
#imgsgallery {
    padding-bottom: 10px;
    width: 300px;
    height: 300px;
    border-radius: 0px !important;
}
#galleryHeader {
    padding-bottom: 15px;
}
#headerFooter {
    color: white;
}
#NavbarHeader {
    font-size: 1.1rem;
    color:White;
    font-style: italic;
}
h2 {
    font-weight: bold !important;
}